[submodule "deps/lwip"]
	path = deps/lwip
	url = https://github.com/jhnphm/lwip.git
[submodule "deps/FreeRTOS"]
	path = deps/FreeRTOS
	url = https://github.com/jhnphm/FreeRTOS.git
[submodule "deps/tiva-c_driverlib"]
	path = deps/tiva-c_driverlib
	url = https://github.com/jhnphm/tiva-c_driverlib.git
